body {
    background-color: pink;
    border-style: dotted;
    border-width: 3px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 27px;
    
}

#christmas {
    height: 300px;
    width: 300px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 236, 255);
}

#miscellaneous {
    height: 300px;
    width: 300px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 236, 255);
}

#puns {
    height: 300px;
    width: 300px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 236, 255);
}

#joke {
    height: 280px;
    width: 280px;
    background-color: rgb(235, 250, 255);
}

#joke2 {
    height: 280px;
    width: 280px;
    background-color: rgb(235, 250, 255);
}